{% extends "index.html.twig" %}

{% block section %}

<div class="text-center mt-5">
      <h2>Projets</h2>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form id="recherche" method="post" action="index.php" class="well">
        <fieldset>
          <div class="form-group mb-4">
            <label for="titre" class="col-form-label col-form-label-sm">Recherche</label>
            <div>
              <input type="text" id="titre" name="titre" class="form-control form-control-sm" placeholder="Entrez un titre" />
            </div>
          </div>
          <input class="btn btn-dark w-100" type="submit" name="valider_recher" value="Valider" />
        </fieldset>
      </form>
    </div>
  </div>

  <div class="container mt-3">
  <div class="row g-4">
    {% for pro in pros %}
      <div class="col-md-6 col-lg-3">
        <div class="card shadow-sm h-100">
          <img src="data:image/jpg;base64,{{ pro.image }}" class="card-img-top img-fluid p-0 m-0" alt="image" style="height: 200px;">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{pro.titre}}</h5>
            <p class="card-text">{{pro.identifiant}} {{pro.matiere}}</p>
            <p class="card-text">{{pro.semestre}}</p>
            <div class="mt-auto">
              {% if pro.tag != null %}
                <div class="d-flex">
                  <span class="d-flex h-100 rounded p-2 bg-secondary mb-3 text-white"><small>{{pro.tag}}</small></span>
                </div>
              {% endif %}
              <div>
                <a href="?action=details&id={{ pro.idProjet }}" class="btn btn-dark mt-2">Détails</a> <!-- Ajoutez une marge top pour espacer le bouton du contenu précédent -->
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>



{% endblock %}




