{% extends "index.html.twig" %}


{% block section %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form method="post" action="index.php" class="well" id="form-ajout" enctype="multipart/form-data">
        <fieldset>
          <h3 class="text-center mb-4">Ajouter un projet</h3>
          <div class="form-group mb-4">
            <label for="titre">Titre</label>
            <input type="text" id="nom" class="form-control" name="titre" required placeholder="Entrez le titre du projet" />
            <p class="errorinput" id="titreerror"></p>
          </div>
          <div class="form-group mb-4">
            <label for="description">Description</label>
            <Textarea type="text" id="description" class="form-control" name="description" required placeholder="Entrez une description du projet"></Textarea>
            <p class="errorinput" id="descriptionerror"></p>
          </div>
          

          <div class="form-group mb-4">
            <label for="image">Image</label>
            <input type="file" id="image" class="form-control" name="image" accept="image/*" />
            <p class="errorinput" id="imageerror"></p>
          </div>

          <div class="form-group mb-4">
            <label for="lien_demo">Lien démonstration</label>
            <input type="lien_demo" id="lien_demo" class="form-control" name="lien_demo" required placeholder="Entrez le lien de démonstration" />
            <p class="errorinput" id="lien_demoerror"></p>
          </div>
          <div class="form-group mb-4">
            <label for="lien_source">Lien source</label>
            <input type="lien_source" id="lien_source" class="form-control" name="lien_source" required placeholder="Entrez le lien source" />
            <p class="errorinput" id="lien_sourceerror"></p>
          </div>

          <div class="form-group mb-4">
            <label for="matiere">Matière</label>
            <select name="id_contexteList" type="id_contexteList" id="id_contexteList" class="form-select form-select mb-4">
              <option value="" disabled selected>Choisissez la matière</option>
              {% for contexte in contexteList %}
                <option value={{contexte.id_contexteList}}>{{contexte.identifiantList}}&emsp;{{contexte.matiereList}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group mb-4">
            <label for="categorie">Catégorie</label>
            <select name="id_categorieList" type="id_categorieList" id="id_categorieList" class="form-select form-select mb-4">
              <option value="" disabled selected>Choisissez la catégorie</option>
              {% for categorie in categorieList %}
                <option value={{categorie.id_categorieList}}>{{categorie.categorieList}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group mb-4">
            <label for="contributeurs">Contributeurs</label>
            <select class="contributeur form-select mb-4 form-multiple" name="contributeurs[]" multiple="multiple">
                <option value="" disabled>Choisissez le(s) contributeur(s)</option>
                {% for contributeur in contributeurList %}
                  {% if contributeur.id_utilisateur != id_utilisateur %}
                    {% if contributeur.id_utilisateur in selectedContributeur %}
                      <option value="{{ contributeur.id_utilisateur }}" selected>{{ contributeur.nom}}&nbsp;{{ contributeur.prenom}}</option>
                    {% else %}
                      <option value="{{ contributeur.id_utilisateur }}">{{ contributeur.nom}}&nbsp;{{ contributeur.prenom}}</option>
                    {% endif %}
                  {% endif %}
                {% endfor %}
            </select>
          </div>

          <div class="form-group mb-4">
            <label for="tags">Tag</label>
            <select class="tag form-select mb-4 form-multiple" name="tags[]" multiple="multiple">
              <option value="" disabled>Choisissez le(s) tag(s)</option>
              {% for tag in tagList %}
                  {% if tag.id_tag in selectedTag %}
                      <option value="{{ tag.id_tag }}" selected>{{ tag.tag}}</option>
                  {% else %}
                      <option value="{{ tag.id_tag }}">{{ tag.tag}}</option>
                  {% endif %}
              {% endfor %}
            </select>
          </div>


          

        <input  type="hidden" id="id_utilisateur" name="id_utilisateur" value="{{ id_utilisateur }}"/> 
        <input type="hidden" id="validation" name="validation" value="1" />

          <input type="submit" class="btn btn-primary btn-dark w-100 mt-2" name="valider_ajout" value="valider"/>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
    $('.contributeur').select2();
    $('.tag').select2();
});
</script>

{% endblock %}